DATABASE_URL=postgresql://user:pass@localhost:5432/hayashi
IFRUTI_URL=https://www.ifruti.com.br
IFRUTI_CPF=
IFRUTI_EMPRESA=
IFRUTI_PASSWORD=
SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
FRONTEND_URL=https://app.hayashi.asynnc.cloud
JWT_SECRET_KEY=
